In [1]:
import requests as req
from bs4 import BeautifulSoup as bs4
import pandas as pd

In [2]:
url = "https://id.wikipedia.org/wiki/150_Lagu_Indonesia_Terbaik"
response = req.get(url)

In [3]:
soup = bs4(response.text, "html.parser")

In [4]:
table = soup.find("table", class_="wikitable sortable")

In [5]:
headers = [th.text.strip() for th in table.find_all("th")]

In [6]:
rows = []
for row in table.find_all("tr"):
    cells = [td.text.strip() for td in row.find_all("td")]
    if cells:
        rows.append(cells)

In [7]:
df = pd.DataFrame(rows, columns=headers)

In [8]:
df

,#,Lagu,Artis,Tahun,Genre
0,1,Bongkar,Swami,1989,Rock
1,2,Kebyar Kebyar,Gombloh,1979,Rock
2,3,Badai Pasti Berlalu,Berlian Hutauruk,1977,Soul
3,4,Bis Sekolah,Koes Bersaudara,1964,Rock and roll
4,5,Guru Oemar Bakrie,Iwan Fals,1981,Country
...,...,...,...,...,...
145,146,Jari & Jempol,Dedy Stanzah,1978,Dance-rock
146,147,Melompat Lebih Tinggi,Sheila On 7,2003,"Alternative rock, indie rock"
147,148,Langkah Peri,Cherry Bombshell,1997,"Alternative rock, indie rock"
148,149,Matel,Kubik,1997,"Alternative rock, indie rock"
149,150,Me & My Boyfriend,Mocca,2003,Indie rock

In [9]:
df.to_excel("150_lagu_indonesia_terbaik.xlsx", index=False)